{
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "doubleQuote": true,
  "useTabs": false,
  "arrowParens": "always",
  "trailingComma": "remove",
  "endOfLine": "auto"
}
